@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-fonte-cinza-escuro: #3A404E;
    --cor-fonte-cinza-claro: #667085;
    --cor-vermelho: #8E2424;
    --cor-vermelho-trasparente: rgba(142, 36, 36, 0.05);
    --cor-vermelho-transparente-depoimentos: rgba(195, 25, 25, 0.03);
    --cor-branco-padrao: #FFFFFF;
    --cor-branco-borda: #EAECF0;
    --cor-azul-escuro: #101828;
    --fonte-principal: "inter";
}

body {
    font-family: var(--fonte-principal)
}

/* CABEÇALHO NAV-BAR  */

.cabecalho {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0px 32px;
    margin: 1em 4em;
}

.cabecalho__titulo {
    font-size: 18px;
    font-weight: 500;
}

.cabecalho__imagem {
    margin-right: 5px;
}

.cabecalho__titulo-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho__links {
    display: flex;
    gap: 40px;
    margin: 0 auto 0 8em;
    align-items: center;
}

.cabecalho__links a {
    color: var(--cor-fonte-cinza-claro);
}

.cabecalho__links a,
.cabecalho__botoes a {
    text-decoration: none;
}

.cabecalho__botoes a {
    gap: 16px;
    padding: 10px 18px;
    align-items: center;
    font-size: 16px;
}

.cabecalho__botoes_entrar {
    color: var(--cor-fonte-cinza-claro);
}

.cabecalho__botoes__cadastrar {
    background-color: var(--cor-vermelho);
    font-family: var(--fonte-principal);
    border-radius: 8px;
    color: var(--cor-branco-padrao);
}

/* SEÇÂO SOBRE NÓS */

.cabecalhoSobre {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 96px 0;
    gap: 24px;
}

.cabecalhoSobre__sobre {
    color: var(--cor-vermelho);
    font-weight: 600;
}

.cabecalhoSobre__titulo {
    font-size: 48px;
    font-weight: 600;
    color: var(--cor-azul-escuro);
    gap: 12px;
}

.cabecalhoSobre__texto {
    color: var(--cor-fonte-cinza-claro);
    font-weight: 400;
    font-size: 20px;
    padding: 12px 0;
    width: 792px;
    height: 60px;
    text-align: center;
}

/* SEÇÂO MÉTRICAS */

.metricas-container {
    display: flex;
    justify-content: center;
    padding-bottom: 96px;
    gap: 64px;
}

.metricas-item {
    gap: 20px;
}

.metricas-item__titulo {
    font-weight: 600;
    font-size: 60px;
    color: var(--cor-vermelho);
    margin-bottom: 20px;
}

.metricas-item__subtitulo {
    font-weight: 500;
    font-size: 18px;
    color: var(--cor-azul-escuro);
    margin-bottom: 8px;
}

.metricas-item__paragrafo {
    font-weight: 400;
    font-size: 16;
    height: 48px;
    max-width: 280px;
    color: var(--cor-fonte-cinza-claro);
}

/* VAGAS */

.vagas {
    padding: 5em 0;
}

/* TALENTOS */

.talentos__container {
    padding: 0 32px;
    gap: 64px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.talentos__subtitulo {
    font-weight: 500;
    font-size: 0.9em;
    background-color: var(--cor-vermelho-trasparente);
    color: var(--cor-vermelho);
    border-radius: 16px;
    padding: 4px 12px;
}

.talentos__titulo {
    font-weight: 600;
    font-size: 2em;
    color: var(--cor-azul-escuro);
}

.talentos__paragrafo {
    font-weight: 400;
    font-size: 20px;
    color: var(--cor-fonte-cinza-claro);
}

.talentos__imagem {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

/* VAGAS ABERTAS */

.vagas-abertas { 
    gap: 34px;
    display: flex;
    flex-wrap: nowrap;
    margin: 4% 30%;
    margin-bottom: 0;
    justify-content: flex-start;
    flex-direction: column;
}

.vagas-abertas-categoria__titulo {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 1%;
}

.vaga {
    display: flex;
    flex-direction: column;
    padding: 24px;
    padding-bottom: 28px;
    border: 1px;
    border-radius: 16px;
    border-color: var(--cor-branco-borda);
    border-style: solid;
    gap: 34px;
}

.titulo-vaga {
    font-weight: 500;
    font-size: 18px;
}

.informacoes {
    font-weight: 500;
    color: var(--cor-fonte-cinza-claro);
    gap: 24px;
}

/* DEPOIMENTOS */

.depoimentos {
    padding-bottom: 96px;
}

.depoimentos-container {
    display: flex;
    justify-content: center;
    padding: 0 7%;
}

.depoimentos-container-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    padding: 64px;
    gap: 32px;
    background-color: var(--cor-vermelho-transparente-depoimentos);
}


.depoimentos__subtitulo {
    font-weight: 600;
    font-size: 14px;
    color: var(--cor-vermelho);
}

.depoimentos__titulo {
    font-weight: 500;
    font-size: 36px;
    width: 90%;
    color: var(--cor-azul-escuro);
}

.atribuicao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.atribuicao__imagem {
    margin-bottom: 2%;
}

.atribuicao__imagem-nome {
    font-weight: 500;
    font-size: 16px;
    gap: 4px;
}

.atribuicao__imagem-cargo {
    font-weight: 400;
    font-size: 14px;
    color: var(--cor-fonte-cinza-claro);
}